body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin-left: 1.5rem;
}

header {
    background-color: #0077cc;
    color: white;
    padding: 1rem;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.name
{
    font-size: 1.5rem;
    font-weight: bold;
}
nav a {
    margin-left: 1.5rem;
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
}
.pfp
{
    display: block;
    margin: 0 auto 1rem auto;
    width: 50px;   
    height: auto;
    border-radius: 50%;
    
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url("Wallpaper5.jpg"); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    color: #333;
    height: 100%;
}

